@define-color main-color #DCD7BA;
@define-color second-color #1F1F28;
@define-color darker-second-color #181820;

* {
	font-size: 1rem;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	background: @second-color;
	color: @main-color;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#mpris,
#backlight,
#tray {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

#workspaces button {
	color: @main-color;
	background: @second-color;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: @darker-second-color;
}


#workspaces button.active {
	background: @main-color;
	color: @second-color;
}
