@define-color main-color #C8C093;
@define-color second-color #1A1818;
@define-color darker-second-color #0D0C0C;

* {
	font-family: JetBrainsMono Nerd Font;
	min-height: 0px;
}



window#waybar {
	font-size: 16px;
	background: rgba(26, 24, 14, 0.8);
	color: @main-color;
	border: solid 3px @main-color;
	border-radius: 8px;
}


button {
	color: @main-color;
	padding: 0;
	margin: 0;
	border-radius: 0px;
}

#workspaces {
	margin: 10px 0px 10px 10px; 
}

#tray {
	margin: 10px 10px 10px 0px; 
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: @darker-second-color;
}


#workspaces button.active {
	background: @main-color;
	color: @second-color;
}
